.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
  %h1.page-header Dashboard
  .row.placeholders
    .col-xs-6.col-sm-3.placeholder
      %h4 Labeldfsdf
      %span.text-muted Something elsedfsa
    .col-xs-6.col-sm-3.placeholder
      %h4 Labeldfsdf
      %span.text-muted Something elsedfsa
    .col-xs-6.col-sm-3.placeholder
      %h4 Labeldfsdf
      %span.text-muted Something elsedfsa
  %h2 Section title
  .table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th #
          %th Header
          %th Header
          %th Header
          %th Header
      %tbody
        %tr
          %td 1,001
          %td Lorem
          %td ipsum
          %td dolor
          %td sit
        %tr
          %td 1,002
          %td amet
          %td consectetur
          %td adipiscing
          %td elit
        %tr
          %td 1,003
          %td Integer
          %td nec
          %td odio
          %td Praesent
