.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
  %h1.page-header Drinks
  .table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th #
          %th Name
          %th Drink Type
          %th
          %th
      %tbody
        -@drinks.each do |drink|
          %tr
            %td
            %td= drink.name
            %td= drink.drink_category.name
            %td
              =link_to 'Edit', edit_drink_path(drink), class: 'btn btn-primary btn-sm'
            %td
              =button_to "Delete", { action: "destroy", id: drink.id },  class: 'btn btn-danger btn-sm', method: :delete, data: { confirm: "Are you sure?" }
              -# =link_to 'Destroy','destroy_drink_path', class: 'btn btn-danger btn-sml'
