body {
  padding-top:1px!important;
  background-color: black;
  background-image:image-url('coffee.jpg');
  opacity : 1.0;
}
.body:after {
  content : "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity : 1.2;
  z-index: -1;
  color: #b7e2ff!important;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color:#d9534f;
  background-color: rgba(43, 33, 24, 0);
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.help-block{
 color:#d9534f;
}
.sidebar{
  background-color: #000000;

}
a {
  color: #b4dcff;
  text-decoration: none;
}
a:hover {
  color: #00fbff;
  text-decoration: none;
}

tr{
  background-color: rgba(45, 29, 0, 0.68);
}

table{
  color: #68c8e4;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
  color: #98d7e2;
}

thead{
  color: darkkhaki;
}


.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(37, 33, 26, 0.58);
}

h1 {
  font-size: 2.5rem;
  color: #00ffbc;
}

h3 {
  font-size: 2.5rem;
  color: #00ffbc;
}

h2 {
  font-size: 2rem;
  color: #23c7c7;
}
h4 {
  font-size: 1.5rem;
  color: #a5c5ff;
}

h6 {
  font-size: 1rem;
  color: #eee;
}
.top62 {
  margin-top: 62px!important;
}


.bg-info {
  color: #fff !important;
  background-color: rgba(91, 192, 222, 0.31) !important;
}

.wide80 {
  width: 80px!important;
}

.wide366 {
  width: 366px!important;
  height: 150px!important;
}


#flash-error-msg {
  background: #b92211;
  -webkit-box-shadow: 0 5px 10px rgba(black, .3);
  box-shadow: 0 5px 10px rgba(black, .3);
  padding: 1em;
  position: fixed;
  width: 100%;
  z-index: 4444;
  color: #fff;
  font-weight: 700;
  text-align: center;
  height: 80 px;
}


#flash-success-msg {
  background: green;
  -webkit-box-shadow: 0 5px 10px rgba(black, .3);
  box-shadow: 0 5px 10px rgba(black, .3);
  padding: 1em;
  position: fixed;
  width: 100%;
  z-index: 4444;
  color: #fff;
  font-weight: 700;
  text-align: center;
  height: 80 px;
}

.red{
  color: red;
}

.green{
  color: green;
}


.cancelled{
  opacity: 0.5;
}

