!!!
%html
  %head
    %title Get Our Drinks
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    -if current_user
      %nav.navbar.navbar-dark.navbar-fixed-top.bg-inverse
        %button.navbar-toggler.hidden-sm-up{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{:href => "#"} Drinks
        #navbar
          %nav.nav.navbar-nav.pull-xs-left
            %a.nav-item.nav-link{:href => logout_path } Logout
          %form.pull-xs-right
            -if current_user
              %h4
                Welcome
                =current_user.name
            -#%input.form-control{:placeholder => "Search...", :type => "text"}
    .container-fluid.top23
      -if current_user

        .row
          .col-sm-3.col-md-2.sidebar
            %ul.nav.nav-sidebar
              %li{class: link_class(orders_path)}
                %a{:href => orders_path} Orders
              %li{class: link_class(drinks_path)}

                %a{:href => drinks_path} Drinks
              %li{class: link_class(drink_categories_path)}
                %a{:href => drink_categories_path} Drink Categories

          .col-sm-3.col-md-2
          .col-sm-10.col-md-10
            = yield
